<body class="text-center">
  
   
    <!-- <form [formGroup]="form" (submit)="submit()"> -->
    <form (ngSubmit)="onSubmit()" #form="ngForm"> 
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" name="email"  id="email"  [(ngModel)]="login.email" placeholder="name@example.com">
        <label for="email">Email address</label>
      </div>
      <div class="form-floating">
        <input  type="password" class="form-control" name="password" id="password" [(ngModel)]="login.password" placeholder="Password">
        <label for="password">Password</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <br><br>
      <a [routerLink]="['/create-account']">Create Account</a>

      <p>{{message}}</p>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>  

    <!-- <li *ngFor="let item of items">
       {{item.nome}}
    </li> -->
    
  </body>
